.row {
    display: flex;
}
.col, .col2, .col3 {
    text-align: center;
    line-height: 40px;
    height: 40px;
    flex-grow: 1;
    background-color: burlywood;
    margin: 0 10px
}

.col {
    flex: 1;
}
.col2 {
    flex: 2;
}
.col3 {
    flex: 3;
}