.container{
    width: 916px;
    background-color: silver;
    margin: 0px auto;
    padding: 16px;
}
.top-nav {
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 16px 16px 0 0;
}
.main {
    margin: 16px 0 16px 0;
    height: 400px;
    width: 700px;
    background-color: red;
}
.sub-content {
    margin: 12px 0 12px 12px;
    height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {
    margin: 10px;
    height: 120px;
    width: 660px;
    background-color: purple;
}
.row {
    display: flex;
}

