.nav {
    width:800px;
    margin: 0px auto;
    background-color: teal;
    display: flex;
    
}
.nav-title {
    align-items: center;
    width: 500px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;


}
.nav-links {
    align-items: center;
    width: 500px;    
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 12px;
}
a {
    color: whitesmoke;
    text-decoration: inherit;
    font-family: 'Roboto', sans-serif;
}
button {

    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;

}

.button-54:active {
box-shadow: 0px 0px 0px 0px;
top: 5px;
left: 5px;
}
