h3, h2 {
    margin: 0
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 900px;
}
* body{
    font-family: Roboto;
}
.top-nav {
    display: flex;
    flex: 1;
    align-items: center;
    background-color: black;
    color: white;
    justify-content: center;
    
}
.top-nav a {
    text-decoration: none;
    color:white;
}
.top-nav-items{
    display: flex;
    align-items: center;
    flex-basis: 500px;
    justify-content: space-between;
    margin:0 455px 0 140px;
}
.sign-out{
    display: flex;
    margin:0 145px 0 0;
    align-items: center;
}
.sign-out button {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(51, 48, 48);
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
}
.main {
    flex:15;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    height: 100vh;
}

.user-card {
    display:flex;
    flex-flow: column wrap;
    border-style: solid;
    border-color: rgb(85, 85, 85);
    border-width: 4px;
    height: 250px;
    margin: 20px 40px 0 140px;
    width: 700px
}
.uc-top {
    background-color: darkcyan;
    flex: 1;
}

.uc-bottom {
    display: flex;
    flex-flow: column;
    flex: 3;
    color: black;
    justify-content: space-evenly;
    padding-top: 30px;
}

.edit-profile {
    display: flex;
}
.uc-bottom > *{
    margin: 0 0 0 20px;

}
.location {
    display: flex;
    align-content: center;
}
.location *{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
}
.profile-pic{
    position: absolute;
    border-radius: 50px;
    margin-top: 15px;
    margin-left: 15px;
    background-color: rgb(255, 255, 255);
}
.education {
    display: flex;
    flex-direction: column;
    margin: 40px 40px 40px 140px;
    height: 400px;
    border-style: solid;
    border-color: rgb(65, 65, 65);
    border-width: 4px;
}
.edu-head {
    flex: 1;
    display: flex;
    background-color: rgb(51, 51, 51);
    color:white;
    padding: 14px 14px 0px 14px;
    align-content: center;
}
.edu-main {
    flex:9;
    display: flex;
    flex-direction: column;
    padding: 0 14px;
    justify-content: space-evenly;
}
.con-req {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 20px 140px 0 0;
    border-style: solid;
    border-color: rgb(65, 65, 65);
    border-width: 4px;
    width: 300px;
    
}
.con-req-head {
    display: flex;
    background-color: rgb(51, 51, 51);
    color:white;
    padding: 14px;
}
.con-req-main {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 14px;
    padding: 14px 6px 14px 14px;
}
.indiv-req{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.indiv-req img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 0 8px 0 0;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    vertical-align: middle;
}
.indiv-req h3{
    margin: 0;
}
.ur-con {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 20px 140px 0 0;
    height: 300px;
    border-style: solid;
    border-color: rgb(65, 65, 65);
    border-width: 4px;
    width: 300px;
    
}
.ur-con-head {
    display: flex;
    background-color: rgb(51, 51, 51);
    color:white;
    padding: 14px;
}
.ur-con-main {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 14px;
    padding: 14px 6px 14px 14px;
}
.ur-con-main img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 0 8px 0 0;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    vertical-align: middle;
    
}
.view-more {
    border-width: 4px;
    border-color:rgb(65, 65, 65);
    border-style: solid;
    padding: 10px 14px;
    margin-top: -4px;
    margin-right: 140px;
}
